.Main {
  display: flex;
  overflow: hidden;
  max-height: 100vh;
}
.Main .container {
  display: flex;
  width: 100vw;
  background-color: #000000;
}
.Main .container .outlet {
  flex-grow: 3;
  padding: 1rem;
  color: white; /* Ensure text is readable */
}

.Main .container .navigation {
  background-color: rgb(0, 0, 0); /* Set background color to black */
  padding-top: 40px;
  height: 100vh;
  color: white; /* Ensure text is readable */
}

.Main .container .navigation ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.Main .container .navigation ul li {
  padding: 10px 80px 10px 20px;
  color: white; /* Ensure list items are readable */
}

.Main .container .navigation ul li.active,
.Main .container .navigation ul li:hover {
  background: #444; /* Darker gray for hover and active state */
}

.Main .container .navigation ul li a {
  text-decoration: none;
  color: #ffae00; /* Ensure links are readable */
}
.Main .container .navigation ul li.logout {
  cursor: pointer;
}


.Main .container .navigation ul li a:hover {
  color: #ccc; /* Slightly lighter color for hover effect */
}

